.cards{
  width: 1000px;
  z-index:0;
}

.card{
  background-color: white;
  border-radius: 7px;
  box-shadow: 1px 1px 2px 0 rgba(153,153,153,0.51);
}

.article-card{
  width: 305px;
  height: auto;
  text-align: left;
  h3, h5, p, li{
    padding-left: 15px;
  }
}
.square{
  height: 325px;
  width: 305px;
  margin-bottom: 45px;
}

.gray{
  color: #757575;
}
.narrow{
  line-height: 0px;
}
.card-title{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.image-card-frame{
  overflow:hidden;
  height: 176px;
  width: 305px;
  margin: 0 auto;
  border-color: green;
  position: relative;
 }
.overlay{
  position: absolute;
  z-index: 2;
  background-color: black;
  opacity: 0;
  top: 0;
  left: 0;
  height: 176px;
  width: 305px;
  transition: opacity 1000ms linear;
}
.overlay:hover{
  opacity: 0.2;

}

.image-card{
  width: 305px;
  height: auto;
  border-color: red;
}

.red{
  font-weight: 500;
  color: $red;
}



.card-footer{
  text-align: left;
  padding-left: 12px;
  padding-right: 10px;
  padding-bottom: 5px;
  p{
    font-size: 12px;
    line-height: 12px;
  }
}
.card-tags{
  display: flex;
  // justify-content: space-between;
}
