.navbar{
  display: flex;
  height: 70px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color:white;
  justify-content: space-around;
  align-items: center;
  a{
    width: 90px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Josefin Sans';
    color:black;
  }

  a.active{
    font-size: 36px;
  }


}


