// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display");


// Define fonts for body and headers
$body-font: 'Josefin Sans', "Helvetica", "sans-serif";
$headers-font: 'Playfair Display', "serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

.bigger{
    font-size: 18px;
  }

body{
  p{
    font-size: 12px;
  }

  li{
    font-size: 12px;
    list-style: none;
  }

  h5{
    font-size: 14px;
    color: #757575;
    font-family: 'Playfair Display', "serif";
  }

  h3{
    font-size: 16px;
    font-family: 'Playfair Display', "serif";
  }

  h1{
    font-size: 48px;
    font-family: 'Playfair Display', "serif";
  }
  h4{
    font-size: 16px;
    font-weight: 500;
    font-family: 'Josefin Sans';
  }

}
