
<div class="lightbox">
  <div id="code">
        </div>
</div>

     <div class="cards">
      <div class="row">
        <%data.pages.each do |page|%>

          <div class="col-xs-12 col-sm-6  col-md-4">
            <div class="card square puntodeapoyo">



              <div class="card-title">
                <h3><%= page[1].first[1].title%></h3>
              </div>
              <% link_to "/#{page[0]}.html" do %>
                <div class="image-card-frame"  id:"<% page %>">
                    <%= image_tag page[1].first[1].carousel.first,  class: "image-card" %>
                </div>

                <% end %>
                <div class="card-footer">

                <p><span class="red">by</span> <%= page[1].first[1].autor%></p>
                <div class="card-tags">
                  <ul class="list-inline">
                <%page[1].first[1].tags.each do |tag|%>
                 <li class="tag"><%= tag %></li>
                 <li>  </li>
                 <% end %>
                 </ul>
                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
