


<div class="gallery">
    <%data.pages.loud.first[1].carousel.each do |screenshot|%>
    <%= image_tag screenshot %>
  <% end %>
</div>


<div class="slick">

    <%= image_tag data.pages.loud.first[1].carousel[0],  class: "image-show" %>

</div>

